.main_Container {
    background: #fff;
    margin: auto;
    height: 100%;
    min-height: 100vh;
    width: 100%;
}

.ljsJzL {
    background-image: url(https://code-assets-0.whjr.online/static/media/loginMath.98a2f4c0.png);
    background-size: cover;
}

.d-sm-block {
    display: block;
}

.pt-0 {
    padding-top: 0;
}

.navbar {
     position:relative;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     padding: 0.5rem 1rem;
}

.justify-content-sm-between {
    justify-content: space-between;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.MuiTypography-noWrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.MuiTypography-h6 {
    font-size: 1.25rem;
    font-family: Muli-Regular;
    font-weight: 500;
    line-height: 1.6;
}

.MuiTypography-root {
    margin: 0;
}

img {
    vertical-align: middle;
    border-style: none;
}

.cMKpQn {
    font-family: Muli-Regular;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    min-height: calc(100vh - 83px);
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow: auto;
}
.mx-auto {
    margin-left: auto;
}

.cMKpQn .wrapper {
    padding: 20px;
}
.cMKpQn .wrapper {
    -webkit-box-align: center;
    align-items: center;
}

.cMKpQn .wrapper .form-container {
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: rgb(200 200 200 / 63%) 2px 2px 7px 2px;
    padding: 30px 5%;
}
.mb-5 {
    margin-bottom: 3rem;
}

.font20 {
    font-size: 1.25rem;
}

.jss45 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.jss63 {
    width: 100%;
}

.MuiFormControl-marginNormal {
    margin-top: 16px;
    margin-bottom: 8px;
}

.MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

.MuiInputLabel-animated {
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.MuiInputLabel-formControl {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 24px) scale(1);
}

.MuiInputLabel-root {
    display: block;
    transform-origin: top left;
}

.MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-family: Muli-Regular;
    font-weight: 400;
    line-height: 1;
}
label {
    margin-bottom: 0.5rem;
}

.MuiInputBase-root {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: Muli-Regular;
    font-weight: 400;
    line-height: 1.1876em;
}

.MuiInput-root {
    position: relative;
}

label + .MuiInput-formControl {
    margin-top: 16px;
}

.MuiInput-underline::before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    pointer-events: none;
}

input {
    overflow: visible;
}

.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
}

.MuiInputBase-input:invalid {
    box-shadow: none;
}

.MuiInput-underline::after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #1a91a9;
    pointer-events: none;
}

.MuiFormHelperText-root {
    margin: 0;
    font-size: 0.75rem;
    margin-top: 3px;
    text-align: left;
    font-family: Muli-Regular;
    font-weight: 400;
    line-height: 1.66;
}

.MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

.MuiFormControl-marginNormal {
    margin-top: 16px;
    margin-bottom: 8px;
}

.jss63 {
    width: 100%;
}

label {
    margin-bottom: 0.5rem;
}

.MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-family: Muli-Regular;
    font-weight: 400;
    line-height: 1;
}

.MuiInputLabel-root {
    display: block;
    transform-origin: top left;
}

.MuiInputLabel-formControl {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 24px) scale(1);
}

.MuiInputLabel-animated {
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.MuiInputBase-root {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: Muli-Regular;
    font-weight: 400;
    line-height: 1.1876em;
}

.MuiInput-root {
    position: relative;
}

label + .MuiInput-formControl {
    margin-top: 16px;
}

::before {
    box-sizing: border-box;
}

.MuiInput-underline:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    pointer-events: none;
}

input {
    overflow: visible;
}

.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
}

.MuiInputBase-input:invalid {
    box-shadow: none;
}

.MuiInput-underline:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #1a91a9;
    pointer-events: none;
}

::after {
    box-sizing: border-box;
}

div {
    display: block;
}

.text_blue {
    color: #1a91a9;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.jss49 {
    width: 100%;
    display: flex;
    font-size: 0.875em;
    font-family: Muli-Bold;
    justify-content: flex-end;
}

.jss47 {
    cursor: pointer;
}

div {
    display: block;
}

.text-center {
    text-align: center;
}

button, input {
    overflow: visible;
}

.w-100 {
    width: 100%;
}

.MuiButtonBase-root {
    border: 0;
    margin: 0;
    position: relative;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
}

.MuiButton-root {
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: Muli-Regular;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
}

.jss53 {
    display: inline-block;
    outline: none!important;
    padding: 12px 5px;
    font-size: 1rem;
    letter-spacing: 0.75px;
    text-transform: none!important;
    background-color: #ff8619;
}

.MuiButtonBase-root.Mui-disabled {
    pointer-events: none;
}

.jss53:disabled {
    color: #fff;
    cursor: not-allowed !important;
    opacity: 0.6;
    box-shadow: 0 2px 4px rgb(0 0 0 / 27%);
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.m-3 {
    margin: 1rem;
}

.jss59 {
    width: 90px;
    border: solid 1px #e3e3e3;
    height: 1px;
}
.d-inline {
    display: inline;
}

.p-2 {
    padding: 0.5rem;
}

.font14 {
    font-size: 0.875rem;
}

.text_gray_light {
    color: #989595;
}

.jss59 {
    width: 90px;
    border: solid 1px #e3e3e3;
    height: 1px;
}

.text-center {
    text-align: center;
}
.pb-2 {
    padding-bottom: 0.5rem;
}
.pt-2 {
    padding-top: 0.5rem;
}

.jss55 {
    color: #ff8619;
    width: 100%;
    border: 1.5px solid #ff8619;
    cursor: pointer;
    display: inline-block;
    padding: 12px 5px;
    font-size: 1rem;
    border-radius: 5px;
    letter-spacing: 0.75px;
    text-transform: capitalize;
}

.font12 {
    font-size: 0.75rem;
}

.m-auto {
    margin: auto;
}
.pt-2 {
    padding-top: 0.5rem;
}

.text_gray {
    color: #707070;
}
.wd_65 {
    width: 65%;
}

.text_gray {
    color: #707070;
}

.font16 {
    font-size: 1rem;
}

.text-center {
    text-align: center;
}

.pt-2 {
    padding-top: 0.5rem;
}
.m-0 {
    margin: 0;
}

.registerNowButton {
    color: rgb(255, 134, 25);
}